icon-color{
    font-size: 31px;
    margin-bottom: 3px;
    margin-right: 16px;
    color: #BDBDBD;
}
.side-link{
    color: #333333;
    font-weight: 600;
    font-size: 17px;
    inherits: inherit
}
.side-link-wrp{
    width: 100%;
    height: 60px;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    background-color: white!important;
    border: none!important;
}

.side-link-wrp:active{
    background-color: #FBFBFB!important;
}
.btn-border {
    border-radius: 0;
    width: inherit !important;
    height: 50px;
}