.icons-color{
    font-size: 31px;
    margin-bottom: 3px;
    font-weight: lighter !important;
}
.side-link-wrp{
    width: 100%;
    height: 60px;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    background-color: white!important;
    border: none!important;
    color: #333333 !important;
    font-weight: 600;
    font-size: 17px !important;
    inherits: inherit
}
.side-link-wrp:focus{
    background-color: #fafafa!important;
    color: #2f8ed6 !important;
}
.btn-border {
    border-radius: 0;
    width: inherit !important;
    height: 50px;
}